<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.mapper.FaultMapper">
	<resultMap id="BaseResultMap" type="com.kevin.entity.TFault">
		<id column="id" property="id" />
		<result column="t_starter" property="tStarter" />
		<result column="t_name" property="tName" />
		<result column="t_code" property="tCode" />
		<result column="t_content" property="tContent" />
		<result column="t_state" property="tState" />
		<result column="t_analysis" property="tAnalysis" />
		<result column="t_checkerId" property="tCheckerId" />
		<result column="t_time" property="tTime" />
	</resultMap>
	<insert id="insertInitFault" parameterType="com.kevin.entity.TFault" keyProperty="id" useGeneratedKeys="true"> 
	insert t_fault(t_starter,t_name,t_code,t_content,t_state,t_time)values(#{tStarter},#{tName},#{tCode},#{tContent},#{tState},#{tTime})   
	<selectKey resultType="java.lang.Integer" keyProperty="id">
            <![CDATA[SELECT LAST_INSERT_ID() as id]]>
     </selectKey>
    </insert>
	<update id="updateFaultState">
	update t_fault set t_state = #{tState} where id = #{id}
	</update>
	<update id="updateFault">
	update t_fault set t_starter=#{tStarter},t_name=#{tName},t_code=#{tCode},t_state=#{tState} where id = #{id}
	</update>
	<select id="getStarterFaultsByState" resultMap = "BaseResultMap">
	select * from t_fault where t_starter = #{t_starter} and t_state = #{t_state}
	</select>
	<select id="getStartFaultsByStarter" resultMap = "BaseResultMap">
	select * from t_fault where t_starter = #{t_starter} and t_state in ('start','analysis','receive','accepting')
	</select>
	<select id="selectFaultsByCheckerId"></select>
</mapper>