<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.kevin.entity.UserBean">
		<id column="user_id" property="id" />
		<result column="user_name" property="name" />
		<result column="user_phone" property="phone" />
		<result column="user_sex" property="sex" />
		<result column="user_createtime" property="createtime" />
		<result column="user_born" property="born" />
		<result column="user_deptId" property="deptId" />
		<result column="user_addr" property="addr" />
		<result column="deptName" property="deptName" />
	</resultMap>
	<select id="selectAll" resultMap="BaseResultMap">
		select t_user.*,t_dept.t_name as deptName from t_user left join t_dept on t_user.user_deptId = t_dept.id
	</select>
	<select id="findById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select * from (select t_user.*,t_dept.t_name as deptName from t_user left join t_dept on t_user.user_deptId = t_dept.id)user where user.user_id=#{id};
	</select>
		
	<insert id="insertUser" parameterType="com.kevin.entity.UserBean" keyProperty="id" useGeneratedKeys="true">
	insert t_user(user_name,user_phone,user_sex,user_createtime,user_born,user_deptId,user_addr)values(#{name},#{phone},#{sex},
	#{createtime},#{born},#{deptId},#{addr});
    <selectKey resultType="java.lang.Integer" keyProperty="id">
            <![CDATA[SELECT LAST_INSERT_ID() as id]]>
     </selectKey>
    </insert>
	<update id="updateByPrimaryKey" parameterType="com.kevin.entity.UserBean">
		update t_user set
		user_name = #{name},
		user_phone= #{phone},
		user_sex = #{sex},
		user_createtime= #{createtime},
		user_born=#{born},
		user_deptId = #{deptId},
		user_addr = #{addr}
		where user_id = #{id}
	</update>
</mapper>